html{
  height: 100%;
  margin: 0;
}
body{
  height: 100%;
  margin: 0;
}
#app{
  height: 100%;
  margin: 0;
  min-width: 1080px;
}

/*添加面包屑样式，全局*/
.el-breadcrumb{
  margin-bottom: 10px;
}

.el-table{
  margin-top: 10px;
  font-size: 12px;
}
.el-pagination{
  margin-top: 10px;
}

.el-tag{
  margin: 7px;
}

.bd-top{
  border-top: 1px solid #eee;
}

.bd-bottom{
  border-bottom: 1px solid #eee;
}
